<div class="hero">
    <div class="hero-texto">
        <h1>Talento que <span class="titulo-destacado">Emprende</span></h1>
        <p class="intro">
            Descubre los emprendimientos de nuestros colaboradores, donde la
            innovación va más allá del trabajo diario.
        </p>
    </div>
    <a href="#emprendimientos" class="hero-button"
        >EXPLORAR EMPRENDIMIENTOS <i class="fa-solid fa-arrow-right-long"
        ></i></a
    >
    <div class="scroll">
        <div class="mouse">
            <span class="mouse-wheel"></span>
        </div>
        <p>SCROLL</p>
    </div>
</div>
